################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Core/bin
/Core/obj
/GameServer/bin
/GameServer/obj
